<div class="row profile">
  <div class="col-sm-4 col-md-3">
    <%= image_tag(@user.avatar.url(:medium), class: 'avatar') %>
    <h1><%= @user.full_name %></h1>

    <ul>
      <%= content_tag(:li, ("Name: " + @user.name)) unless @user.name.blank? %>
      <%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>
    </ul>

    <!-- <h1><%#= @user.email %></h1>
    <ul>
      <%# unless @user.name.blank? %>
        <li>Name: <%#= @user.name %></li>
      <%# end %>

      <%# unless @user.date_of_birth.blank? %>
        <li>Date of birth:<%#= @user.date_of_birth %></li>
      <%# end %>
    </ul> -->

    <% if current_user %>
      <% @relationship = current_user.sent_invites.where(invited_id: @user.id).first %>

      <% if @relationship %>
        <%= link_to "Stop following", @relationship, method: :delete %>
      <% else %>
        <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
          <%= f.hidden_field :invited_id, value: @user.id %>
          <%= f.submit 'Follow', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="feed">
    <h3>Czarnoksięstwo</h3>
    <p>działanie polegające na świadomym posługiwaniu się magią
      (domyślnie czarną magią) zdefiniowane przez Jakuba I w traktacie Daemonologie
      jako "powodowanie zjawisk nadnaturalnych nie za pozwoleniem Boga (cuda)
      lecz przy pomocy diabelskiej". Ten sam traktat dokonuje podziału "czarnoksięstwa"
      na: witch-craft (czary) i necromancy (nekromancję) za pomocą skutków tych
      działań: zmian materialnych (czary) bądź pozyskiwanie wiedzy (nekromancja)[1].</p>
  </div>
</div>
